
@import '../../common/colors.scss';

.app-header {
  background-color: $orange;
  min-height: 5vh;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.app-header-logo {
  border: 1px solid $white;
  margin: 0 5px;
}

.app-header-new {
  font-size: 14px;
}
