@import '../../common/colors.scss';

.app-section {
  margin: 0;
  min-height: 95vh;
  font-size: 12px;
  background-color: $off-white;
}

.app-section-more {
  margin: 6px 140px;
  outline: 0;
}

.app-section-top {
  font-size: 14px;
  outline: 0;
}
